<ion-list lines="none">
  <ion-list-header><ion-text color="medium">Menu lainnya</ion-text></ion-list-header>
  <ion-item button *ngIf="(infoChats | async)?.isFavorite === false" (click)="closeWithRole('favorite')">
    <ion-icon name="star-outline" slot="start"></ion-icon>
    <ion-text>Favoritkan</ion-text>
  </ion-item>
  <ion-item button *ngIf="(infoChats | async)?.isFavorite === true" (click)="closeWithRole('unfavorite')">
    <ion-icon name="star" slot="start" color="warning"></ion-icon>
    <ion-text color="warning">Favorit</ion-text>
  </ion-item>
  <!-- <ion-item button>
    <ion-icon name="search-outline" slot="start"></ion-icon>
    <ion-text>Pencarian</ion-text>
  </ion-item> -->
  <ion-item button (click)="closeWithRole('delete')">
    <ion-icon name="trash-outline" slot="start" color="danger"></ion-icon>
    <ion-text color="danger">Hapus Percakapan</ion-text>
  </ion-item>
</ion-list>
