<ion-tabs>
  <ion-tab-bar slot="bottom" color="dark">
    <ion-tab-button tab="chats">
      <ion-label>Kandah</ion-label>
      <ion-icon name="chatbubbles-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="nearby">
      <ion-label>Sekitar</ion-label>
      <ion-icon name="radio-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="friends">
      <ion-label>Teman</ion-label>
      <ion-icon name="people-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-label>Pengaturan</ion-label>
      <ion-icon name="settings-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
